.button{
  height: 50px;
  width: 110px;

  border: 1px solid #003f5c;
  border-radius: 5px;

  color: aqua;
  font-weight: bold;

  cursor: pointer;
}

.negative{
  background: #FF4444;
}

.positive{
  background: #009879;
}

.big{
  height: 70px !important;
  width: 140px !important;
}
