.form{
  max-width: fit-content;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.fields{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.button{
  align-self: end;
  width: 10rem;
  height: 3.2rem;

  background-color: transparent;
  border: 1px solid #003f5c;
  border-radius: 6px;
  cursor: pointer;

  color: #333;
  font-size: 1.3rem;
}

a{
  color: #7A5195;
}
