.wrapper{
  height: 13rem;
  width: 80%;

  display: flex;
  align-items: end;
  gap: 3rem;
  padding: 1rem 3rem;

  overflow-x: auto;

  background: #c9c9c9;
  border-top: 1px solid #003f5c;
  border-bottom: 1px solid #003f5c;
}
