.wrapper{
  position: relative;
  
  height: 3rem;
  width: 17rem;

  display: flex;
  align-items: center;

  border: 1px solid #003f5c;
  border-radius: 6px;
}

.input, .label{
  position: absolute;
}

.input{
  height: 100%;
  width: 100%;

  outline: none;
  background-color: transparent;
  border: none;

  color: #333;
  font-weight: 600;

  padding-left: 1.5rem;
}

.label{
  left: 1.5rem;

  color: #333;
  background-color: #d9d9d9;
  padding: .3rem;

  z-index: -1000;
  transition: all .2s ease;
}

.input:focus ~ label, .input:not(:placeholder-shown) ~ label{
  transform: translate(-1rem, -1.5rem);
  z-index: 999;
  font-size: .9rem;
}
