.wrapper{
  position: relative;

  flex-shrink: 0;
  height: 95%;
  width: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.image{
  max-height: 90%;
  max-width: 100%;

  border: 1px solid #003f5c;
  border-radius: 5px;
  padding: 0;

  cursor: pointer;
}

.discount{
  position: absolute;
  top: -1.4rem;
  right: -2.6rem;

  font-size: 1.5rem;
  color: red;
  font-weight: bold;
}

.wrapperInfo{
  display: flex;
  justify-content: space-between;
}

.price{
  font-size: .9rem;
  color: #808000;
  font-weight: bold;
}

.category{
  color: #666666;
  font-size: .8rem;
}
