.body{
  height: 100%;
  width: 90%;

  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.main{
  display: flex;
  gap: 10rem;
  flex-wrap: wrap;
}

.title{
  color: #666;
}

.price{
  color: #808000;
}

.wrapper{
  display: flex;
  align-items: center;
  gap: 3rem;
}

.wrapperImage{
  width: 200px;
  height: 200px;
}

.wrapperPrice{
  display: flex;
  gap: .3rem;
}
